<html>
	<head>
		<meta charset="utf-8"/>
		<title>Anagram Engine</title>
		<link type="text/css" rel="stylesheet" href="/stylesheets/styles.css"/>
	</head>
	<body>
		<header>
			<h1 style="text-align:center;"> Anagram Engine </h1>
					<div style="float:right; width:80%; text-align: right;">
						<a href="{{ url }}">
							<h2><div class="button_element">Logout</h2></div>
						</a>
					</div>
				</div>
			</h1>
		</header>
		<div class="header">
			<div  style="float:left; width:40%;"><ul>
				<li><p >Similar anagrams: {{ word_Count }}</p></li>
			<li><p>Total number of Words: {{ total_Count }}</p></li>
		</div></ul>
		</div>
		<div class="content">
			<form action="/" method="post">
			    Select a file to upload
			    <input type="file" name="uploadFile">
			    <input type="submit" name="button" value="Upload">
			</form>
			<form method="get" action="/add?">
				<tr>
					<td id="button_row">
						<input type="submit" class="button" name="Add word" value="Add word">
						</td>
					</tr>
				</form>
			<table>
				<form method="post" action="/">
					<tr>
						<td>
							<input type="text" class="text_input" name="value"  onkeypress="return onlyAlphabets(event,this);"/>
						</td>
						<td id="button_row">
							<input type="submit" class="button" name="button" value="Search"/>
							<br>
							</td>
						</tr>
					</form>
					<form method="post" action="/">
						<tr>
							<td>
								<input type="text" class="text_input" name="value" onkeypress="return onlyAlphabets(event,this);">
								</td>
								<td id="button_row">
									<input type="submit" class="button" name="button" value="Generate">
									</td>
								</tr>
							</form>
						</table>
							<form method="get" action="/">
								<table border="1" align="center">
									<tr>
										<th colspan="2">
                Your Anagrams:
            </th>
									</tr>
        {% for mylist in my_list %}

									<tr>
										<td class="anagram_table_data_sortedWord">
											<b>{{ mylist.sorted_word }}</b>
										</td>
										<td class="anagram_table_data">
                        {% for word in mylist.words %}
                            {% if loop.index == mylist.words | length %}
                                {{ word }}
                            {% else %}
                                {{ word }},
                            {% endif %}
                        {% endfor %}
                    </td>
									</tr>
        {% endfor %}
								</table>
							</form>
						</div>
					</body>
					<script language="Javascript" type="text/javascript">
      function onlyAlphabets(e, t) {
            try {
                if (window.event) {
                    var charCode = window.event.keyCode;
                }
                else if (e) {
                    var charCode = e.which;
                }
                else { return true; }
                if ((charCode > 64 && charCode < 91) || (charCode > 96 && charCode < 123))
                    return true;
                else
                    return false;
            }
            catch (err) {
                alert(err.Description);
            }
        }

					</script>
				</html>
